
<div class="gallery">
	<%= render :partial => "shared/listings", :locals => {:projects => @buyable} %>
	<div class="selector">
		<div><%= link_to 'Create a new Project?', new_project_path, :class => 'bigBlue_selector' %></div>
		<div class="categories padd">Categories:
			<ul class="catlist padd">
				<% @categories.each do |category| %>
				<li><%= link_to category.title, category %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="gallery">
	<%= render :partial => "shared/listings", :locals => {:projects => @investable} %>
	<div class="selector">
		<div><%= link_to 'Invest?', new_project_path, :class => 'bigBlue_selector' %></div>
		<div class="categories padd">Categories:
			<ul class="catlist padd">
				<% @categories.each do |category| %>
				<li><%= link_to category.title, category %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>