
<div class="gallery">
	<%= render :partial => "shared/listings", :locals => {:projects => @buyable} %>
	<div class="selector">
		<%= link_to (new_project_path) do %><div class="bigBlue">Create a new Project?</div> <% end %>
		<div class="categories padd">Categories:
			<ul class="catlist padd">
				<% @categories.each do |category| %>
				<li><%= link_to category.title, category %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="gallery">
	<%= render :partial => "shared/listings", :locals => {:projects => @investable} %>
	<div class="selector">
		<%= link_to (new_project_path) do %><div class="bigBlue">Invest?</div> <% end %>
		<div class="categories padd">Categories:
			<ul class="catlist padd">
				<% @categories.each do |category| %>
				<li><%= link_to category.title, category %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>