<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
  <div class="field">
    <%= hidden_field_tag 'project[member_id]' %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :total_investment_needed %><br />
    <%= f.text_field :total_investment_needed %>
  </div>

  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.text_field :due_date %>
  </div>

  <div class="field">
    <%= f.label :return_date %><br />
    <%= f.text_field :return_date %>
  </div>

  <div class="field">
    <%= f.label :percent_return %><br />
    <%= f.text_field :percent_return %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select( :category_id, Category.all {|p| [ p.title, p.id ] }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
