<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select( :category_id, Category.all.collect {|p| [ p.title, p.id ] }) %>
  </div>

  <div class="field">
    <%= f.label :estimated_investment_needed %><br />
    <%= f.text_field :estimated_investment_needed %>
  </div>

  <div class="field">
    <%= f.label :estimated_costs %><br />
    <%= f.text_field :estimated_costs %>
  </div>

  <div class="field">
    <%= f.label :funds_due_date %><br />
    <!--<%= f.text_field :funds_due_date %>--> datepicker needed
  </div>

  <div class="field">
    <%= f.label :estimated_completion_date %><br />
    <!--<%= f.text_field :estimated_completion_date %>--> datepicker needed
  </div>

  <div class="field">
    <%= f.label :number_of_shares %><br />
    <%= f.number_field :number_of_shares, :step => 10, :in => 0...1001 %>
  </div>

  <div class="field">
    <%= f.label :why_description %><br />
    <%= f.text_area :why_description %>
  </div>

  <div class="field">
    <%= f.label :how_description %><br />
    <%= f.text_area :how_description %>
  </div>

  <div class="field">
    <%= f.label :make_public %><br />
    <%= f.check_box :make_public %>
  </div>

  <div class="actions">
    <%= f.submit 'save'%>
  </div>
<% end %>
