<div id="details" class="padd centerized">
	<table class="padd centerized">
<% case @project.project_status 
when Project.PROJECT_STATUS[:in_progress] .. Project.PROJECT_STATUS[:under_acceptance] %>
		<tr>
			<td> this project is still in the works <td>
		</tr><tr>
			<td><a href="#"><div class="bigBlue">Wait on alerts</div></a></td>
		</tr>
<% when Project.PROJECT_STATUS[:private_investors] .. Project.PROJECT_STATUS[:public_investors]
	if Project.PROJECT_STATUS[:public_investors] == @project.project_status # or member is accepted %>
		<tr>
			<td><div class="bigBlue"><%= @project.number_of_shares %> open shares</div></td>
			<td><%= link_to (invest_project_path(@project)) do %><div class="bigBlue">Invest</div> <% end %></td>
		</tr>
	<% end %>
		<tr>
			<td><div class="bigBlue">
					raised <%= number_to_currency 20 %> of <%= number_to_currency @project.estimated_investment_needed %>
			</div></td>
			<td><%= link_to (donate_project_path) do %><div class="bigBlue">Donate</div> <% end %></td>
		</tr>
		<tr>
			<td><div class="bigBlue">
						<%= @project.funds_due_date.strftime("%a %B #{@project.funds_due_date.day.ordinalize}, %Y") %> 
			</div></td>
			<td><a href="#"><div id="woalerts" class="bigBlue">Wait on alerts</div></a></td>
		</tr>
<% when Project.PROJECT_STATUS[:under_construction] .. Project.PROJECT_STATUS[:open_for_sale]%>
		<%# under construction or open for sale%>
	<% if Project.PROJECT_STATUS[:under_construction] == @project.project_status %>
		<tr>
			<td> estimated completion date:</td>
			<td> 
				<%= @project.estimated_completion_date.strftime("%a %B #{@project.estimated_completion_date.day.ordinalize}, %Y") %> 
			</td>
		</tr>
		<tr>
			<td>current bid:</td>
			<td> $10 </td>
		</tr>
		<tr>
			<td><a href="#"><div class="bigBlue">place bid </div></a></td>
			<td><a href="#"><div class="bigBlue">Wait on alerts</div></a></td>
		</tr>
	<% end %>
		<%# if open for sale %>
		<%# end under construction and open for sale%>
<% when Project.PROJECT_STATUS[:sold] %>
<% end %>
	</table>
</div>