<%#= image_tag @member.avatar.url %>
<%#= image_tag @member.avatar.url(:thumb) %>

<p id="notice"><%= notice %></p>

<div id="projTitle" class="centerized"></div>
<div id="top" class="cf padd">
	<div id="main_content">
		<ul>
			<% @projects.each do |project| %>
				<li><%= link_to project.title, project %></li>
			<% end %>
		<ul>
	</div>
	<div id="bio">
	<%= render :partial => "shared/member_blurb" %>
	<%= link_to "Edit your profile", edit_member_registration_path %>
	</div>
</div>
<div id="details" class="padd centerized">
	Member since on:  <%= @member.created_at.strftime("%A %B #{@member.created_at.day.ordinalize}, %Y") %> 
</div>