

<p id="notice"><%= notice %></p>

<div id="projTitle" class="centerized"></div>
<div id="top" class="cf padd">
	<div id="main_content">
		<ul>
			<% @projects.each do |project| %>
				<li><%= link_to project.title, project %></li>
			<% end %>
		<ul>
	<%= link_to (edit_member_registration_path) do %><div class="bigBlue">Edit your profile</div> <% end %>
	</div>
	<div id="bio">
	<%= render :partial => "shared/member_blurb" %>
	</div>
</div>
<div id="details" class="padd centerized">
	Member since: <%= @member.created_at.strftime("%B #{@member.created_at.day.ordinalize}, %Y") %> 
</div>